@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap');

*{
	font-family: 'Zen Kaku Gothic New' !important;
}
/*
body{
	font-family: 'Zen Kaku Gothic New' !important;
}
a,input,h3,span,th,tr,table,li,dt,p{
	font-family: "Zen Kaku Gothic New" !important;
}
div{
	font-family: 'Zen Kaku Gothic New' !important;
}
.MUFPAc,.style-scope,.yt-formatted-string{
	font-family: "Zen Kaku Gothic New" !important;
}
#video-title{
	font-family: "Zen Kaku Gothic New" !important;
}
#byline-container,#ytd-comment-renderer{
	font-family: 'Zen Kaku Gothic New' !important;
}
